#cabecera {
    width: 100%;
    height: 20%;
    background-color: #303845;
    text-align: center;
    background-image: url('imagenes/logo_mag.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 2;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 248, 220);
	font-family: 'Arial', sans-serif;
}
	

#publicidad {
    width: 15%;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #303845;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; 
    z-index: 1; 
}
	
#contenido{
	width: 100%;
	height: 83%;
	background-color: skyblue;
	font-size: 300%;
	text-align: center;
	background-color:#6c757d;
}

.cuadro {
    width: 20%; 
    height: 70%; 
    background-color: #f2f2f2; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 20px; 
	float: left;
	margin-left: 1%;
	background-image: url('imagenes/agricultor.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	
}


.cuadro2 {
    width: 20%;
    height: 70%; 
    background-color: #f2f2f2; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 20px; 
	float: left;
	margin-left: 1%;
	background-image: url('imagenes/agricultor 2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	
}
.cuadro3 {
    width: 20%; 
    height: 70%; 
    background-color: #f2f2f2; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 20px; 
	float: left;
	margin-left: 1%;
	background-image: url('imagenes/agricultor3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cuadro4 {
    width: 20%; 
    height: 70%; 
    background-color: #f2f2f2; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 20px; 
	float: left;
	margin-left: 1%;
	background-image: url('imagenes/agricultor5.jpg');
	background-size: 300px 200px;
	background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}